.grid-0 {
  margin-left: 0px !important; }

.grid-1 {
  margin-left: 1px !important; }

.grid-2 {
  margin-left: 2px !important; }

.grid-3 {
  margin-left: 3px !important; }

.grid-4 {
  margin-left: 4px !important; }

.grid-5 {
  margin-left: 5px !important; }

.grid-6 {
  margin-left: 6px !important; }

.grid-7 {
  margin-left: 7px !important; }

.grid-8 {
  margin-left: 8px !important; }

.grid-9 {
  margin-left: 9px !important; }

.grid-10 {
  margin-left: 10px !important; }

.grid-11 {
  margin-left: 11px !important; }

.grid-12 {
  margin-left: 12px !important; }
