#keypad {

	padding:0 30px;

	.key {
		display: inline-block;
		width: 33%;
		float:left;
		text-align: center;
	}

	.row:first-child {
		margin-top: 0;
	}

	.row {
		margin-top: 13px;
	}

	.number {
		font-weight: 600;
		color:#555;
		font-size: 17px;
	}

	.alpha {
		font-weight: 200;
		color:#AAA;
		font-size: 11px;
		text-transform: uppercase;
		margin-top: 5px;
	}

}