<div ng-click="togglePosition()" ng-show="caller.state" class="call-growl box"
	ng-class="{
		'outgoing': caller.state == 'outgoing',
		'incoming': caller.state == 'incoming',
		'in-call': caller.state == 'in-call' || caller.state == 'in-transfer',
		'on-hold': caller.state == 'on-hold'|| caller.state == 'on-hold-transfer',
		'muted': mic.volume == false,
		'min': caller.min == true
	}"

	ng-style="{'z-index': caller.z}"
>

	<!--top bar-->
	<div class="top" ng-class="{'small': caller.state == 'in-transfer'}" >

		<span class="status" ng-show="caller.state == 'call-finished' ">
			<span class="call-finished-info">duration: <span class="time">00:15</span></span>
		</span>

		<span class="status" ng-show="false">
			<span class="on-hold-duration">on hold for: <span class="time">00:32</span></span>
		</span>


		<span class="status" ng-show="caller.state == 'outgoing'">
			Calling
			<span class="loading-icon loading-1"></span>
			<span class="loading-icon loading-2"></span>
			<span class="loading-icon loading-3"></span>
		</span>

		<span class="status" ng-show="caller.state == 'incoming'">
			Incoming call
			<span class="loading-icon white loading-1"></span>
			<span class="loading-icon white loading-2"></span>
			<span class="loading-icon white loading-3"></span>
		</span>

		<span class="status ticket-no"
			  ng-show="
			  	caller.state == 'in-call'
			  	|| caller.state == 'on-hold-transfer'
			  	|| caller.state == 'on-hold'
			  	|| caller.state == 'call-finished'
			  	|| caller.state == 'outgoing-transfer'
			  	|| caller.state == 'transfer-connected'
		">
			<span><a href="#">ticket: #1234</a></span>
		</span>

	</div>
	<!--/top bar-->

	<!--outgoing call-->
	<div

		ng-show="
			caller.state == 'outgoing-transfer'
			|| caller.state == 'transfer-connected'"

	ng-class="{

			'dim': caller.state == 'on-hold'
				|| caller.state == 'on-hold-transfer',

			'dim-override': transfer.outgoing.hold == true && caller.state == 'transfer-connected',
			'dim-override-off': transfer.outgoing.hold == false && caller.state == 'transfer-connected'

		}"
		class="caller-main-info outgoing-transfer">

		<div class="logo zendesk"></div>
		<h2>Patrick Stewart (Zendesk)</h2>
		<div class="status" ng-show="caller.state == 'outgoing-transfer'">
			calling
			<span class="loading-icon green loading-1"></span>
			<span class="loading-icon green loading-2"></span>
			<span class="loading-icon green loading-3"></span>
		</div>
		<div ng-class="{'off': mic.volume == false}" ng-click="mic.volume = !mic.volume" ng-show="caller.state == 'in-call' " class="mic"></div>

		<div ng-show="caller.state == 'transfer-connected' " class="actions-container">

			<div ng-show="transfer.outgoing.hold == true" class="grid-1 actions">
				<div class="item">
					<button class="btn pressed" ng-click="transferHold('top')">
						resume
					</button>
				</div>
			</div>

			<div ng-show="transfer.outgoing.hold == false" class="grid-1 actions">
				<div class="item">
					<button class="btn" ng-click="transferHold('top')">
						hold
					</button>
				</div>
			</div>
		</div>

	</div>
	<!--/outgong call-->

	<!--incoming call-->
	<div

		ng-class="{

			'dim': caller.state == 'on-hold'
				|| caller.state == 'on-hold-transfer'
				|| caller.state == 'outgoing-transfer'
				|| caller.state == 'transfer-connected',

			'dim-override': transfer.incoming.hold == true && caller.state == 'transfer-connected',
			'dim-override-off': transfer.incoming.hold == false && caller.state == 'transfer-connected'

		}"

		class="caller-main-info">

		<div class="logo" ng-class="{'zendesk': caller.company == 'Zendesk', 'national-geographic': caller.company == 'National Geographic'}"></div>
		<h2>{{caller.name}} ({{caller.company}})</h2>
		<h3>+1 (415) 895-2947 &middot; CA, United States</h3>
		<div ng-class="{'off': mic.volume == false}" ng-click="mic.volume = !mic.volume" ng-show="caller.state == 'in-call' " class="mic"></div>


		<div ng-show="caller.state == 'transfer-connected'" class="actions-container">

			<div ng-show="transfer.incoming.hold == true" class="grid-1 actions">
				<div class="item">
					<button class="btn pressed" ng-click="transferHold('bottom')">
						resume
					</button>
				</div>
			</div>

			<div ng-show="transfer.incoming.hold == false" class="grid-1 actions">
				<div class="item">
					<button class="btn" ng-click="transferHold('bottom')">
						hold
					</button>
				</div>
			</div>
		</div>


	</div>
	<!--/incoming call-->


	<div class="answer-in" ng-show="caller.state == 'incoming'">
		<span>00:12</span>
	</div>


	<div class="call-controls">

		<div class="actions-container">

			<!-- in call -->
			<div class="grid-3 actions in-call" ng-show="caller.state == 'in-call' ">
				<div class="item">
					<button ng-click="endCall()" class="btn red">hang up</button>
				</div>
				<div class="item">
					<button ng-click="caller.state = 'on-hold'" class="btn">hold</button>
				</div>
				<div class="item">
					<button ng-click="startTransfer()" class="btn">transfer</button>
				</div>
			</div>

			<!-- in transfer -->
			<div class="grid-3 actions in-call" ng-show="caller.state == 'in-transfer' ">
				<div class="item">
					<button ng-click="endCall()" class="btn red">end call</button>
				</div>
				<div class="item">
					<button ng-click="caller.state = 'on-hold'" class="btn">hold</button>
				</div>
				<div class="item">
					<button ng-click="makeTransfer()" class="btn">transfer</button>
				</div>
			</div>

			<!--on hold-->
			<div class="grid-1 actions on-hold" ng-show="caller.state == 'on-hold' ">
				<div class="item">
					<button ng-click="caller.state = 'in-call'" class="btn">resume call</button>
				</div>
			</div>

			<!-- transfer-->
			<div
					class="grid-1 actions on-hold transfer "
					ng-show="caller.state == 'on-hold-transfer' || caller.state == 'outgoing-transfer'"
			>
				<div class="item">
					<button ng-click="cancelTransfer()" class="btn">cancel transfer</button>
				</div>
			</div>

			<!-- transfer connected-->
			<div
					class="grid-2 actions on-hold transfer"
					ng-show="caller.state == 'transfer-connected' "
					>
				<div class="item">
					<button ng-click="cancelTransfer()" class="btn">cancel transfer</button>
				</div>
				<div class="item">
					<button ng-click="cancelTransfer()" class="btn green">make transfer</button>
				</div>
			</div>

			<!--call finished-->
			<div class="grid-1 actions call-finished" ng-show="caller.state == 'call-finished' ">
				<div class="item">
					<button ng-click="available()" class="btn">available to take new calls</button>
				</div>
			</div>

			<!--outgoing-->
			<div class="grid-1 actions outgoing" ng-show="caller.state == 'outgoing' ">
				<div class="item">
					<button ng-click="endCall()" class="btn red">end call</button>
				</div>
			</div>

			<!--incoming-->
			<div class="grid-2 actions incoming" ng-show="caller.state == 'incoming' ">
				<div class="item">
					<button ng-click="decline()" class="btn green-on-green">decline</button>
				</div>
				<div class="item">
					<button ng-click="caller.state = 'in-call';  " class="btn black">answer</button>
				</div>
			</div>

		</div>

	</div>

	<div ng-show="caller.min == true" class="basic" ng-class="{'in-call': caller.state == 'in-call','on-hold': caller.state == 'on-hold','on-hold': caller.state == 'on-hold-transfer', 'outgoing': caller.state == 'outgoing'}">
		<div class="inner">
			<span class="logo" ng-class="{'zendesk': caller.company == 'Zendesk', 'national-geographic': caller.company == 'National Geographic'}" ></span>
			<span class="name">{{caller.name}}</span>
			<span class="state" >
				<span ng-if="caller.state == 'on-hold-transfer'">awating transfer</span>
				<span ng-if="caller.state != 'on-hold-transfer'">{{caller.state}}</span>
			</span>
		</div>
	</div>

</div>