<div ng-click="togglePosition()" ng-show="caller.state" class="call-growl box"
	ng-class="{
		'outgoing': caller.state == 'outgoing',
		'incoming': caller.state == 'incoming',
		'in-call': caller.state == 'in-call',
		'on-hold': caller.state == 'on-hold',
		'hold': caller.state == 'on-hold' || mic.volume == false,
		'min': caller.min == true
	}"

	ng-style="{'z-index': caller.z}"
>

	<div class="top" ng-class="{'small': caller.state == 'in-call'}" >

		<span class="status" ng-show="caller.state == 'call-finished' ">
			<span class="call-finished-info">duration: <span class="time">00:15</span></span>
		</span>

		<span class="status" ng-show="caller.state == 'on-hold' ">
			<span class="on-hold-duration">on hold for: <span class="time">00:32</span></span>
		</span>

		<span class="status" ng-show="caller.state == 'outgoing'">
			Calling
			<span class="loading-icon loading-1"></span>
			<span class="loading-icon loading-2"></span>
			<span class="loading-icon loading-3"></span>
		</span>

		<span class="status" ng-show="caller.state == 'incoming'">
			Incoming call
			<span class="loading-icon white loading-1"></span>
			<span class="loading-icon white loading-2"></span>
			<span class="loading-icon white loading-3"></span>
		</span>

	</div>

	<div ng-class="{'dim': caller.state == 'on-hold'}" class="caller-main-info">
		<div class="logo">
			<img src="/img/nat-geo.png">
		</div>
		<h2>{{caller.company}} ({{caller.name}})</h2>
		<h3>+1 (415) 895-2947 &middot; <span ng-show="caller.state == 'incoming' || caller.state == 'in-call' || caller.state == 'on-hold' ">CA, United caller.states</span> </h3>
		<div ng-class="{'off': mic.volume == false}" ng-click="mic.volume = !mic.volume" ng-show="caller.state == 'in-call'" class="mic"></div>
	</div>

	<div ng-show="caller.state == 'incoming'" class="answer-in">
		<span>00:12</span>
	</div>

	<div ng-show="caller.state == 'in-call' || caller.state == 'on-hold' || caller.state == 'call-finished' " class="ticket-no">
		<span>ticket <a href="#">#1234</a></span>
	</div>

	<div class="call-controls">

		<div class="actions-container">

			<div class="grid-3 actions in-call" ng-show="caller.state == 'in-call' ">
				<div class="item">
					<button ng-click="caller.state = 'call-finished'; mic.volume = true" class="btn red">hang up</button>
				</div>
				<div class="item">
					<button ng-click="caller.state = 'on-hold'" class="btn">hold</button>
				</div>
				<div class="item">
					<button class="btn">transfer</button>
				</div>
			</div>

			<div class="grid-1 actions on-hold" ng-show="caller.state == 'on-hold' ">
				<div class="item">
					<button ng-click="caller.state = 'in-call'" class="btn">resume call</button>
				</div>
			</div>

			<div class="grid-1 actions call-finished" ng-show="caller.state == 'call-finished' ">
				<div class="item">
					<button ng-click="available()" class="btn">available to take new calls</button>
				</div>
			</div>

			<div class="grid-1 actions outgoing" ng-show="caller.state == 'outgoing' ">
				<div class="item">
					<button ng-click="caller.state = 'call-finished'; mic.volume = true " class="btn red">hang up</button>
				</div>
			</div>

			<div class="grid-2 actions incoming" ng-show="caller.state == 'incoming' ">
				<div class="item">
					<button ng-click="decline()" class="btn green-on-green">decline</button>
				</div>
				<div class="item">
					<button ng-click="caller.state = 'in-call';  " class="btn black">answer</button>
				</div>
			</div>

		</div>

	</div>

	<div ng-show="caller.min == true" class="basic" ng-class="{'in-call': caller.state == 'in-call','on-hold': caller.state == 'on-hold', 'outgoing': caller.state == 'outgoing'}">
		<div class="inner">
			<span class="name">{{caller.name}}</span>
			<span class="state" >{{caller.state}}</span>
		</div>
	</div>

</div>